---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";

const pricing = [
  {
    name: "Intro Consultation",
    price: "Free",
    popular: true,
    features: [
      "Free 15 minute introduction",
      "Assess your Spanish level",
      "Create a study plan",
    ],
    button: {
      text: "Book now",
      link: "/",
    },
  },
  {
    name: "Startup",
    price: {
      monthly: "$19",
      annual: "$16",
      discount: "10%",
      original: "$24",
    },
    popular: false,
    features: [
      "All Free Features",
      "Up to 20 users",
      "20 Custom domains",
    ],
    button: {
      text: "Get Started",
      link: "#",
    },
  },
  {
    name: "Enterprise",
    price: "Custom",
    popular: false,
    features: [
      "All Pro Features",
      "Unlimited Custom domains",
      "99.99% Uptime SLA",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Sectionhead>
    <Fragment slot="title">Book a class</Fragment>
    <Fragment slot="desc"
      >Learn real Mexican Spanish with fun & effective classes.</Fragment
    >
  </Sectionhead>

<div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-16">
  {pricing.map((item) => <Pricing plan={item} />)}
</div>
