---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/hero.png";
import trent from "assets/anais-trent.jpeg";
import diane from "assets/anais-diane.jpeg";
import wayne from "assets/anais-wayne.jpeg";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<div class="pt-24 hidden md:flex gap-2">
  <Picture
    src={trent}
    alt="Anais professional portrait"
    widths={[200, 400, 600]}
    aspectRatio="4:3"
    sizes="(max-width: 800px) 100vw, 620px"
    loading="eager"
    format="jpeg"
  />
  <Picture
    src={diane}
    alt="Anais professional portrait"
    widths={[200, 400, 600]}
    aspectRatio="4:3"
    sizes="(max-width: 800px) 100vw, 620px"
    loading="eager"
    format="jpeg"
  />
  <Picture
    src={wayne}
    alt="Anais professional portrait"
    widths={[200, 400, 600]}
    aspectRatio="4:3"
    sizes="(max-width: 800px) 100vw, 620px"
    loading="eager"
    format="jpeg"
  />
</div>
